In [6]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [8]:
df1=pd.read_csv("bengaluru_house_prices.csv")
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     50 non-null     object
 1   availability  50 non-null     object
 2   location      50 non-null     object
 3   size          50 non-null     object
 4   society       30 non-null     object
 5   total_sqft    50 non-null     int64
 6   bath          50 non-null     float64
 7   balcony       50 non-null     float64
 8   price         50 non-null     float64
dtypes: float64(3), int64(1), object(5)
memory usage: 3.6+ KB

In [10]:
df1.isnull().sum()

area_type        0
availability     0
location         0
size             0
society         20
total_sqft       0
bath             0
balcony          0
price            0
dtype: int64

In [11]:
df1['area_type'].value_counts()

area_type
Super built-up  Area    37
Plot  Area               6
Built-up  Area           6
Carpet  Area             1
Name: count, dtype: int64

In [12]:
df1.describe()

        total_sqft      bath    balcony       price
count    50.000000  50.00000  50.000000   50.000000
mean   1393.040000   2.36000   1.680000   82.070800
std     635.497297   0.89807   0.843704   62.645493
min     410.000000   1.00000   0.000000   16.450000
25%    1116.250000   2.00000   1.000000   46.000000
50%    1239.000000   2.00000   2.000000   57.400000
75%    1500.000000   3.00000   2.000000   80.750000
max    3600.000000   5.00000   3.000000  350.000000

In [13]:
df1.shape

(50, 9)

In [14]:
df2=df1.drop(['area_type','society','balcony','availability'],axis='columns')

In [15]:
df2.head()

         location       size  total_sqft  bath  price
0  Ambedkar Nagar      3 BHK        1920   4.0  121.0
1        Hulimavu  4 Bedroom        1500   4.0  192.0
2         Kalkere      2 BHK         925   2.0   55.0
3     Kodigehalli  2 Bedroom         500   1.0   55.0
4          Harlur      2 BHK        1174   2.0   74.0

In [16]:
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [17]:
#Dropping NULL instead of imputing because there are very few so ill just drop it.
df3=df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [18]:
df3.shape

(50, 5)

In [19]:
df3['size'].unique()

array(['3 BHK', '4 Bedroom', '2 BHK', '2 Bedroom', '1 BHK', '5 BHK',
       '3 Bedroom', '5 Bedroom', '1 Bedroom'], dtype=object)

In [20]:
df3['bhk']=df3['size'].apply(lambda x:int(x.split(' ')[0]))
df3.head()

         location       size  total_sqft  bath  price  bhk
0  Ambedkar Nagar      3 BHK        1920   4.0  121.0    3
1        Hulimavu  4 Bedroom        1500   4.0  192.0    4
2         Kalkere      2 BHK         925   2.0   55.0    2
3     Kodigehalli  2 Bedroom         500   1.0   55.0    2
4          Harlur      2 BHK        1174   2.0   74.0    2

In [21]:
df3['bhk'].unique()

array([3, 4, 2, 1, 5])

In [22]:
df3[df3['bhk']>20]

Empty DataFrame
Columns: [location, size, total_sqft, bath, price, bhk]
Index: []

In [23]:
df3['total_sqft'].unique()

array([1920, 1500,  925,  500, 1174, 1202, 1250,  525, 1200, 3100, 1550,
       1235, 1475, 1520, 1153,  645, 1300, 3600, 1530, 2800, 1120, 1115,
       1363, 1175, 1710, 2100, 1340,  980,  850, 1354, 1274, 1005, 1355,
       1385, 1125, 1176,  770, 1195, 2500,  883, 1243,  410,  936, 1464,
       1075, 1225])

In [24]:
#if we can convert the string value into float then that means its not a range so return True else False
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [25]:
#This symbol ~ is used to negate means basically give values where function returns false
df3[~df3['total_sqft'].apply(is_float)].head(15)

Empty DataFrame
Columns: [location, size, total_sqft, bath, price, bhk]
Index: []

In [26]:
#Handling range type values in total_sqrt col and other values and also converting string values to float if not both of these just NA 
def convert_sqrt_to_nums(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [27]:
df4=df3.copy()
df4["total_sqft"]=df4['total_sqft'].apply(convert_sqrt_to_nums)
df4.head()

AttributeError: 'int' object has no attribute 'split'

In [ ]:
df4.head(10)

In [ ]:
df4.loc[30]

In [ ]:
#New feature price_per_sqft this will help us in removing outliers
df5=df4.copy()
df5['Price_per_sqft']=df5["price"]*100000/df5["total_sqft"]
df5.head()

In [ ]:
loc_stats=df5['location'].value_counts()

In [ ]:
len(df5.location.unique())

In [ ]:
len(loc_stats[loc_stats<=10])

In [ ]:
loc_stats_less=loc_stats[loc_stats<=10]
loc_stats_less

In [ ]:
#too many categories all locations which have less than 10 instances will come under other location
len(df5['location'].unique())

In [ ]:
#Transformation to change locations to others
df5.location=df5.location.apply(lambda x:'others' if x in loc_stats_less else x)

In [ ]:
len(df5['location'].unique())

In [ ]:
df5.head(15)

In [ ]:
'''There are houses which have a very low sqft per bedroom and can be treated as outlier for this dataset 
i'll consider 300 as threshold that means any bedroom having sqft less than 300 is a outlier'''
df5[df5.total_sqft/df5.bhk<300].head()

In [ ]:
df5.shape

In [ ]:
#Just negate the operation and feed it into a new df
df6=df5[~(df5.total_sqft/df5.bhk<300)]
df6.shape

In [ ]:
#Now looking at the price_per_sqft for outliers
df6['Price_per_sqft'].describe()

In [ ]:
#To keep our data as gausian we remove the values which are more than 1 Standard deviation

In [ ]:
def outlier_pps(df):
    df_out=pd.DataFrame()
    for key,sub_df in df.groupby('location'):#produces a small dataframe per location
        m=np.mean(sub_df.Price_per_sqft)
        sd=np.std(sub_df.Price_per_sqft)
        reduced_df=sub_df[(sub_df['Price_per_sqft']>(m-sd))&(sub_df['Price_per_sqft']<=(m+sd))]
        df_out=pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out

In [ ]:
df7=outlier_pps(df6)
df7.shape

In [ ]:
#There are areas where in the same area the price of 2bhk is higher than 3 bhk so we try and remove them

In [ ]:
def scatter_plot_area(df,location):
    bhk2=df[(df.location==location)&(df.bhk==2)]
    bhk3=df[(df.location==location)&(df.bhk==3)]
    matplotlib.rcParams['figure.figsize']=(15,10)
    plt.scatter(bhk2.total_sqft,bhk2.price,color='blue',label='2 BHK',s=50)
    plt.scatter(bhk3.total_sqft,bhk3.price,marker='+',color='red',label='3 BHK',s=50)
    plt.xlabel('Total Sqft Area')
    plt.ylabel('Price')
    plt.title('Location')
    plt.legend()

In [ ]:
scatter_plot_area(df7,'Hebbal')

In [ ]:
def remove_bhk(df):
    exclude_indices=np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk]={
                'mean':np.mean(bhk_df.Price_per_sqft),
                'std':np.std(bhk_df.Price_per_sqft),
                'count':bhk_df.shape[0]
                
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.Price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [ ]:
df8=remove_bhk(df7)
df8.shape

In [ ]:
scatter_plot_area(df8,'Hebbal')

In [ ]:
plt.figure(figsize=(20,10))
plt.hist(df8.Price_per_sqft,rwidth=0.8)
plt.xlabel("Price per sqft")
plt.ylabel("Count")
plt.show()

In [ ]:
df8.bath.unique()

In [ ]:
df8[df8.bath>10]

In [ ]:
plt.hist(df8.bath,rwidth=0.8)
plt.xlabel('Number of bathroom')
plt.ylabel('Count')
plt.show()

In [ ]:
df8.shape

In [ ]:
#I'll remove houses where no.of bath>no.of bedrooms+2
df9=df8[df8.bath<df8.bhk+2]
df9.shape

In [ ]:
df9.head()

In [ ]:
df10=df9.drop(['size','Price_per_sqft'],axis='columns')
df10.head()

In [ ]:
#Location one hot encoding
dummies=pd.get_dummies(df10.location)
dummies.head()

In [ ]:
#converting True or False to int alternate method dumm = dummies.applymap(lambda x: 1 if x else 0)
dummies=dummies.astype(int)

In [ ]:
dummies.head(10)

In [ ]:
df11=pd.concat([df10,dummies.drop('others',axis='columns')],axis='columns')
df11.head()

In [ ]:
df12=df11.drop('location',axis='columns')
df12.head()

In [ ]:
df12.shape

In [ ]:
X=df12.drop('price',axis='columns')
X.head()

In [ ]:
y=df12['price']
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

In [ ]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=10)
cross_val_score(LinearRegression(),X,y,cv=cv)

In [ ]:
#Now I have used linear regression model but we might can use other models too
#so to decide which model to use ill use gridsearchcv api
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
def best_model(X,y):
    algos={
        'linear Regression':{
            'model':LinearRegression(),
            'params':{
                 'fit_intercept': [True, False] 
                
            }
        },
        'lasso':{
            'model':Lasso(),
            'params':{
                'alpha':[1,2],
                'selection':['random','cyclic']
            }
        },
        'decision_tree':{
            'model':DecisionTreeRegressor(),
            'params':{
                'criterion':['mse','friedman_mse'],
                'splitter':['best','random']
            }
            
        }
    }
    scores=[]
    cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
    for algo_name,config in algos.items():
        gs=GridSearchCV(config['model'],config['params'],cv=cv,return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model':algo_name,
            'best_score':gs.best_score_,
            'best_params':gs.best_params_
        })
    return pd.DataFrame(scores,columns=["model","best_score","best_params"])

In [ ]:
best_model(X,y)

In [ ]:
'''x will have the following structure sqft|bath|bhk|all locations this is the structure that
the model expects to make predictions this function gives the input model needs and also one hot 
encodes the location'''
def predict_price(location,sqft,bath,bhk):
    loc_index=np.where(X.columns==location)[0][0]
    x=np.zeros(len(X.columns))
    x[0]=sqft
    x[1]=bath
    x[2]=bhk
    if loc_index>=0:
        x[loc_index]=1
        
    return model.predict([x])[0]

In [ ]:
'''Alternative method
import numpy as np

def predict_price(location, sqft, bath, bhk):
    # Create a DataFrame with a single row containing the input features
    x = pd.DataFrame([[sqft, bath, bhk] + [0] * (len(X.columns) - 3)], columns=X.columns)
    
    # Set the location column to 1 for the specified location
    if location in X.columns:
        x[location] = 1
    
    # Use the trained model to predict the price
    return model.predict(x)[0]
'''

In [ ]:
predict_price('1st Phase JP Nagar',1000,2,2)

In [ ]:
import pickle
with open('Bengaluru_house_Price.pickle','wb') as f:
    pickle.dump(model,f)